#masterOverlay {
  width:99%;
  height:99%;
  position: fixed;
  left: 0px;
  top: 0px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
  color: #ccd1dd;
  visibility:hidden;
}
#exportContainer {
  grid-column: 2;
  grid-row:2;
  min-width:500px;
  max-width:800px;
  min-height:300px;
  max-height:500px;
  background: #424959;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: grid;
  grid-template-columns: repeat(20, 5% [col-start]);
  grid-template-rows: repeat(20, 5% [col-start]);
}
#exportTitle {
  grid-column-start:1;
  grid-column-end:21;
  grid-row-start:1;
  font-weight:300;
  margin-top: -0.1rem;
  padding: 0.3rem;
  text-decoration:underline;
}
input[type="text"] {
  width:auto;
  background: none;
  border: 0;
  border-bottom: 2px solid #838795;
  color: #ccd1dd;
  padding: 0.3rem 0.5rem;
  transition: 0.3s;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
#rfidSpan {
  grid-column-start:2;
  grid-column-end:20;
  grid-row-start:3;
  grid-row-end:3;
}
#nameSpan {
  grid-column-start:2;
  grid-column-end:20;
  grid-row-start:5;
  grid-row-end:5;
}
#rankSpan {
  grid-column-start:2;
  grid-column-end:20;
  grid-row-start:7;
  grid-row-end:7;
}
#iccidSpan {
  grid-column-start:2;
  grid-column-end:20;
  grid-row-start:9;
  grid-row-end:9;
}