<div id="masterOverlay">
  <div id="exportContainer">
  <h2 id="exportTitle">Export Character to Customs Database</h2>

  <span id="rfidSpan"><i class="fas fa-id-card-alt"></i> RFID Code <input id="card" placeholder="RFID scanned identifier" type="text"></span>
  <span id="nameSpan"><i class="fas fa-user"></i> Character Name <input id="name" type="text" placeholder="Character Name" value="{{generatedName.fullName}}"></span>
  <span id="rankSpan"><i class="fas fa-briefcase"></i> Job or Rank <input id="rank" type="text" placeholder="Job or Rank descriptor"></span>
  <span id="iccidSpan"><i class="fas fa-key"></i> ICC ID <input id="iccid" type="text" placeholder="#### ##### ####" value="{{generatedName.iccID}}"></span>

  <section id="selectionFields"></section>
  </div>
</div>