/* You can add global styles to this file, and also import other style files */
body {
  width:99%;
  height:99%;
  background: #262e3e;
  font-family: 'Roboto',sans-serif,arial;
}
#main-wrap {
  width:100%;
  height:100%;
}